<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319465428351-rlhuqf5g58ofllil550uosk0qjm3peev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319465428351-rlhuqf5g58ofllil550uosk0qjm3peev</string>
	<key>API_KEY</key>
	<string>AIzaSyDerNo4OT73sSdXMUpcgqTOBGitVBFYwu0</string>
	<key>GCM_SENDER_ID</key>
	<string>319465428351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kan.nakamura0711-gmail.com.fireapp</string>
	<key>PROJECT_ID</key>
	<string>fireapp-24ea9</string>
	<key>STORAGE_BUCKET</key>
	<string>fireapp-24ea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319465428351:ios:5fff5895d39e4d6321f64a</string>
	<key>DATABASE_URL</key>
	<string>https://fireapp-24ea9.firebaseio.com</string>
</dict>
</plist>